{% extends 'dashboard/admin/base.html' %}
{% load static %}


{% block extra_css %}
<style>
    .small-primary-button {
        padding: 3px 10px;
        background-color: #007bff; 
        color: white; 
        border: none; 
        cursor: pointer; 
        font-size: 10px;
        border-radius: 5px; 
    }
    
    .small-primary-button:hover,
    .small-primary-button:focus {
        background-color: #0056b3;
    }
</style>

{% endblock %}



{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item">داشبورد ادمین</li>
        <li class="breadcrumb-item">دسته بندی</li>
        <li class="breadcrumb-item active" aria-current="page">
            ایجاد دسته بندی
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
        <h5 class="card-header-name">ایجاد دسته بندی</h5>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <div class="row d-flex ">
                <div class="col-md-6 mb-3">
                    <label>نام دسته بندی</label>
                    {{form.name}}
                </div>
                <div class="col-md-6 mb-3">
                    <label>slug دسته بندی - <button class="small-primary-button" type="button"
                        onclick="generateSlug()">ساخت slug</button> </label>
                    {{form.slug}}
                </div>
                
            </div>
            <div class="card-footer">
                <div class=" d-flex pt-5 justify-content-end">
                    <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:category-list' %}">بازگشت</a>
                    <button class="btn btn-primary ms-3" type="submit">ایجاد محصول</button>
                </div>
            </div>
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script>

    function generateSlug() {
        const name = $("#id_name").val();
        const slug = slugify(name);
        $("#id_slug").val(slug)
    }

    function slugify(nameStr) {
        nameStr = nameStr.replace(/^\s+|\s+$/g, '');
        nameStr = nameStr.toLowerCase();
        //persian support
        nameStr = nameStr.replace(/[^a-z0-9_\s-ءاأإآؤئبتثجحخدذرزسشصضطظعغفقكلمنهويةى]#u/, '')
            // Collapse whitespace and replace by -
            .replace(/\s+/g, '-')
            // Collapse dashes
            .replace(/-+/g, '-');
        slugStr = nameStr;
        return slugStr;
    }
</script>
{% endblock %}

{% block extra_js_no_compress %}
<script src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
<script>
    // Replace 'editor' with the id of your textarea
    CKEDITOR.replace('ckeditor');
</script>
{% endblock %}